@media screen and (min-width: 992px){

    header {
        height: inherit;
        width: 100%;
       
    }

    #logo {
        width: 120px;
        height: 20px;
        padding: 10px 0 20px 50px;
    }
    .banhad {
        overflow: hidden;
        background-color: #0091cd;
        /* width: 100%; */
        position: relative;
        

    }
    .pban  {
        height: 400px;
        width: 35%;
        position: absolute;
        background-color: #0091cd;
        font-size: 32px;
        color: #ffffff;
        padding: 2% 7%;
        margin: 0;
        border-top-right-radius: 40% 19%;
        clip-path: polygon(0 0, 0 100%, 70% 160%, 102% 0);
        border-bottom-right-radius: 118% 200%;
    }
    #banner {
        float: right;
        padding-right: 5%;
        width: 80%;
    }
}
