@font-face {
    font-family: 'MarselisOT';
    src: url("FontFont\ -\ MarselisOT.otf");
    font-weight: 100;
    font-style: normal;
}


@media screen and (min-width: 992px){

    header {
        height: inherit;

    }

    #logo {
        width: 120px;
        height: 20px;
        padding: 10px 0 20px 50px;
    }
    .banhad {
        overflow: hidden;
        background-color: #0091cd;
        /* width: 100%; */
        position: relative;


    }
    .pban  {
        height: 400px;
        width: 35%;
        position: absolute;
        background-color: #0091cd;
        font-size: 32px;
        color: #ffffff;
        padding: 2% 7%;
        margin: 0;
        border-top-right-radius: 40% 19%;
        clip-path: polygon(0 0, 0 100%, 70% 160%, 102% 0);
        border-bottom-right-radius: 118% 200%;
        font-family: 'MarselisOT', normal;
    }
    #banner {
        float: right;
        padding-right: 5%;
        width: 80%;
    }
    .content{
        display: flex;
        justify-content: center;
        margin: 3%;
    }
    .leftcolumn {
        padding: 0 40px;
        width: 35%;
        color: #333;
        font-size: 14px;
        font-family: Helvetica, sans-serif;
    }
    select {
        height: 35px;
        width: 100%;
       
    }
    select:after {
        border: #000;
    }
    .inputform {
        height: 25px;
        width: 99%;
    }
    span {
        color: #0091cd;
    }
    a {
        text-decoration: none;
        color: #0091cd;
    }
    button {
        font-size: 14px;
        color: #fecfae;
        height: 35px;
        width: 100px;
        margin-left: 78%;
        background-color: #ea530f;
        border: none;
    }
    .rightcolumn {
        padding: 0 10px;
        width: 55%;
    }
    .title {
        color: #0091cd;
        font-size: 24px;
        font-family: 'MarselisOT';
    }
    .ptext {
        width: 50%;
        height: 20%;
        padding: 5% 15%;
        margin: 0 0 0 100px;
        background-color: #ebebeb;
    }
    .ptext ul {
        list-style-type: none;
    }
    .ptext ul li:before {
        content: '\2714';
        color: #0091cd;
        margin-left: -40px;
        margin-right: 10px;
        font-family: Helvetica, sans-serif;
        font-weight: bold;
    }
    .imgdoc {
        position: absolute;
        margin: 30px 0;
    }
    .pargrph {
        font-size: 20px;
        color: #000;
        font-family: 'MarselisOT';
    }
    .rclist {
        font-size: 14px;
        font-weight: bold;
        color: #0091cd;
        font-family: Helvetica, sans-serif;
    }
    hr {
        border: none;
        background-color: #0091cd;
        width: 100%;
        height: 3px;
    }
    footer {
        background-color: #ebebeb;
    }
    .fcontent {
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
        margin: 20px 0 0 90px;;
    }
    .fcontent div:first-child {
        padding: 0 30% 0 2%;
    }
    .fleft, .fright {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-inline-end: 60px;
    }

}
